{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <p><a class="btn btn-link" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Edit Notes:</p>
                <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
